@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Testing App Settings</h1>
    @ConfigurationManager.AppSettings["Environment"]
    #<h2>"the value is: " + name</h2>
</div>
