@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Testing App Settings</h1>
    <p>@ConfigurationManager.AppSettings["Environment"]</p>
</div>
<div class="jumbotron">
   @ConfigurationManager.AppSettings["Environment"]
</div>
